*
{
	padding: 0;
}

body
{
	background-color: rgba(214,156,72,255);
}

#move
{
	scale: 2;
	position: absolute;
	top: 20px;
	right: 50px;
}

#left
{
	border: none;
	background-image: "";
	padding-right: 5px;
}

#right
{
	border: none;
	background-image: "";
}

.container
{
	top: 0;
	left: 0;
	width: 100%;
	position: absolute;
}

.slides
{
	position: absolute;
	top: 50px;
	left: 0px;	
	padding: 0px;
}

.slide0
{
	width: 100%;
	height: 100%;
}

.slide0 h
{
	position: absolute;
	left: 50%;
	margin: 0 0 0 -50px;
	z-index: 1;
	width: 139px;
	scale: 3;
	font-family: "Lucida Console";
	font-size: larger;
}

.slide0 img
{
	position: absolute;
	top: 200px;
	left: 50%;
	margin: 0 0 0 -400px;
	width: 800px;
}